.toast-container {
  z-index: 9999;
}

.empty-cart {
  text-align: center;
  padding: 50px;
  color: #666;
}

.empty-cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.empty-cart p {
  font-size: 16px;
  margin-bottom: 20px;
}

.empty-cart .primary-btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
