<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Register</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Register</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">
						<h4>Already have an account?</h4>
						<p>
							There are advances being made in science and technology everyday,
							and a good example of this is the
						</p>
						<a class="button button-account" href="login">Login Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner register_form_inner">
					<h3>Create an account</h3>
					<form class="row login_form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="userName" placeholder="Username *"
								[(ngModel)]="formData.userName" #userName="ngModel" required
								(blur)="userNameTouched = true" />
							<small class="text-danger"
								*ngIf="userNameTouched && userName.invalid && userName.errors?.['required']">
								Username is required.
							</small>
						</div>

						<div class="col-md-12 form-group">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email Address *"
								[(ngModel)]="formData.email" #email="ngModel" required email
								(blur)="emailTouched = true" />
							<small class="text-danger"
								*ngIf="emailTouched && email.invalid && email.errors?.['required']">
								Email is required.
							</small>
							<small class="text-danger" *ngIf="emailTouched && email.invalid && email.errors?.['email']">
								Enter a valid email address.
							</small>
						</div>

						<div class="col-md-12 form-group">
							<input type="number" class="form-control" id="creditCardLimit" name="creditLimit *"
								placeholder="Card Limit *" [(ngModel)]="formData.creditLimit" #creditLimit="ngModel"
								required min="1000" max="50000" step="500" (blur)="creditLimitTouched = true" />
							<small class="text-danger" *ngIf="creditLimitTouched && creditLimit.errors?.['required']">
								Credit limit is required.
							</small>
							<small class="text-danger" *ngIf="creditLimitTouched && creditLimit.errors?.['min']">
								Minimum limit is 1000.
							</small>
							<small class="text-danger" *ngIf="creditLimitTouched && creditLimit.errors?.['max']">
								Maximum limit is 50000.
							</small>
						</div>

						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
								placeholder="Phone Number *" [(ngModel)]="formData.phoneNumber" #phoneNumber="ngModel"
								required pattern="^[0-9]{11}$" (blur)="phoneNumberTouched = true" />
							<small class="text-danger" *ngIf="phoneNumberTouched && phoneNumber.errors?.['required']">
								Phone number is required.
							</small>
							<small class="text-danger" *ngIf="phoneNumberTouched && phoneNumber.errors?.['pattern']">
								Phone number must be 11 digits.
							</small>
						</div>

						<!-- State Dropdown -->
						<!-- <div class="col-md-12 form-group">
							<select class="form-control" id="address-state" name="state" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'State'">
								<option value="" disabled selected>Select State</option>
								<option value="Alexandria">Alexandria</option>
								<option value="Aswan">Aswan</option>
								<option value="Asyut">Asyut</option>
								<option value="Beheira">Beheira</option>
								<option value="Beni Suef">Beni Suef</option>
								<option value="Cairo">Cairo</option>
								<option value="Dakahlia">Dakahlia</option>
								<option value="Damietta">Damietta</option>
								<option value="Fayoum">Fayoum</option>
								<option value="Gharbia">Gharbia</option>
								<option value="Giza">Giza</option>
								<option value="Ismailia">Ismailia</option>
								<option value="Kafr El-Sheikh">Kafr El-Sheikh</option>
								<option value="Luxor">Luxor</option>
								<option value="Matrouh">Matrouh</option>
								<option value="Minya">Minya</option>
								<option value="Monufia">Monufia</option>
								<option value="New Valley">New Valley</option>
								<option value="North Sinai">North Sinai</option>
								<option value="Port Said">Port Said</option>
								<option value="Qalyubia">Qalyubia</option>
								<option value="Qena">Qena</option>
								<option value="Red Sea">Red Sea</option>
								<option value="Sharqia">Sharqia</option>
								<option value="Sohag">Sohag</option>
								<option value="South Sinai">South Sinai</option>
								<option value="Suez">Suez</option>
							</select>
						</div> -->

						<!-- City Input -->
						<!-- <div class="col-md-12 form-group">
							<input type="text" class="form-control" id="address-city" name="city" placeholder="City"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'">
						</div> -->

						<!-- Street Input -->
						<!-- <div class="col-md-12 form-group">
							<input type="text" class="form-control" id="address-street" name="street"
								placeholder="Street" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Street'">
						</div> -->

						<!-- Department Number Input -->
						<!-- <div class="col-md-12 form-group">
							<input type="number" class="form-control" id="address-department" name="department"
								placeholder="Department Number" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Department Number'">
						</div> -->
						<!-- Password Field -->
						<div class="col-md-12 form-group position-relative">
							<input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
								name="password" placeholder="Password *" [(ngModel)]="formData.password"
								#password="ngModel" required minlength="6" (blur)="passwordTouched = true" />
							<i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" style="
                  position: absolute;
                  top: 50%;
                  right: 10px;
                  cursor: pointer;
                  transform: translateY(-50%);
                " (click)="togglePasswordVisibility('password')"></i>
							<small class="text-danger" *ngIf="passwordTouched && password.errors?.['required']">
								Password is required.
							</small>
							<small class="text-danger" *ngIf="passwordTouched && password.errors?.['minlength']">
								Password must be at least 6 characters.
							</small>
						</div>

						<!-- Confirm Password Field -->
						<div class="col-md-12 form-group position-relative">
							<input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
								id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *"
								[(ngModel)]="formData.confirmPassword" #confirmPassword="ngModel" required
								(blur)="confirmPasswordTouched = true" />
							<i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
								style="position: absolute; top: 50%; right: 10px; cursor: pointer; transform: translateY(-50%);"
								(click)="togglePasswordVisibility('confirmPassword')"></i>

							<small class="text-danger"
								*ngIf="confirmPasswordTouched && confirmPassword.errors?.['required']">
								Confirmation is required.
							</small>
							<small class="text-danger"
								*ngIf="confirmPasswordTouched && formData.confirmPassword !== formData.password">
								Passwords do not match.
							</small>
						</div>


						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector" />
								<label for="f-option2">Keep me logged in</label>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" id="button-register"
								class="button button-register w-100">
								Register
							</button>
						</div>
					</form>
					<!-- Success -->
					<div *ngIf="successMessage" class="alert alert-success">
						{{ successMessage }}
					</div>
					<!-- Display Errors -->
					<div *ngIf="errors.length > 0" class="alert alert-danger">
						<ul>
							<li *ngFor="let error of errors">{{ error }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->

